# Set Encoding to ANSI/Windows-1252
* encoding=Windows-1252
*.txt working-tree-encoding=Windows-1252 git-encoding=UTF-8
*.csv working-tree-encoding=Windows-1252 git-encoding=UTF-8
*.info working-tree-encoding=Windows-1252 git-encoding=UTF-8

# Auto detect text files and perform LF normalization
* text=auto

# Declare files that will always have CRLF line endings on checkout.
*.txt text eol=crlf
*.csv text eol=crlf

# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary
*.bmp binary
*.dds binary
*.tga binary
*.pdn binary

# Custom for Visual Studio
*.cs     diff=csharp
*.sln    merge=union
*.csproj merge=union
*.vbproj merge=union
*.fsproj merge=union
*.dbproj merge=union

# Standard to msysgit
*.doc	 diff=astextplain
*.DOC	 diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot  diff=astextplain
*.DOT  diff=astextplain
*.pdf  diff=astextplain
*.PDF	 diff=astextplain
*.rtf	 diff=astextplain
*.RTF	 diff=astextplain
